.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 600px;
  height: 350px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 82px;
  font-size: 3rem;
  color: #ffff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.right-arrow:hover {
  transition: 0.5s ease-in-out;
  color: #f5af19;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 82px;
  font-size: 3rem;
  color: #ffff;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}
.left-arrow:hover {
  transition: all 0.5s;
  color: #f5af19;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

.about-heading {
  color: #f5af19;

  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.about-description {
  color: #fff;

  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
